<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Results')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="bg-light">
    <div class="container bg-light">
        <h3>Earned USDT = <small th:text="${USDT}"></small></h3>
        <h3>Passive USDT = <small th:text="${passiveUSDT}"></small> from <small th:text="${passiveUSDTTime}"></small></h3>
        <h3>Current status = <small th:text="${status}"></small></h3>
    </div>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>