<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{common :: header(value='Results')}"></div>
<div th:replace="~{common :: navbar(game=false)}"></div>
<body>
<div class="bg-light">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
            <th scope="col">Price</th>
            <th scope="col">USDT</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="qv,iter : ${infos}">
            <td th:text="${qv.getTime()}"></td>
            <td th:text="${qv.getAction()}"></td>
            <td th:text="${qv.getPrice()}"></td>
            <td th:text="${qv.getUsdt()}"></td>
            <td th:text="${qv.getStatus()}"></td>
            <td th:text="${qv.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:replace="~{common :: js-lb}"></div>
</html>